/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2016, 11:48:24 AM
    Author     : Tasos198
*/
/*
    Reset margin and padding for all elements
*/
body,#usr_settings_container,button.usr_but,#usr_actions_container,
#usr_out_container,#usr_in_container,#usr_id,#usr_pw,#usr_form_container,
fieldset,span.lbl,legend,span.lbl2,input,select,#txtarea_desc,#txtarea,
#new_usr_action,#old_usr_action
{
    margin: 0;
    padding: 0;
}

#usr_settings_container{
    margin: 2px;
    padding: 2px;
    float: left;
    display: none;
}

#usr_actions_container{
    margin: 2px;
    padding: 2px;
    float: right;
}

#usr_out_container{display: none;}

#seperation{font-weight: bold;font-size: 20px;}

button.usr_but,#new_usr_action,#old_usr_action{cursor: pointer;}

#form_parent{
    display: table;
    width: 100%;    
}

#usr_form_container{
    display: none;
    vertical-align: middle;
}

span.lbl{
    width: 100px;
    height: 100px;
}

#txtarea_desc,#txtarea{float: left;}
#txtarea{width: 350px; height: 150px;}

#new_usr_action{float: right}

#old_usr_action{display: none;}