<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>requestPageServlet</servlet-name>
        <servlet-class>servlets.requestPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>servlets.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>servlets.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageCollection</servlet-name>
        <servlet-class>servlets.GetImageCollection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImage</servlet-name>
        <servlet-class>servlets.DeleteImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageRating</servlet-name>
        <servlet-class>servlets.imageRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestPageServlet</servlet-name>
        <url-pattern>/requestPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageCollection</servlet-name>
        <url-pattern>/GetImageCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImage</servlet-name>
        <url-pattern>/DeleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageRating</servlet-name>
        <url-pattern>/imageRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
