/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2016, 6:59:18 PM
    Author     : Tasos198
*/
body,#header{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d6d6d6;
    font-family: 'Muli', sans-serif;
}

#img_banner{
    width: 200px;
    height: 100px;
}

#header{
    margin-top: -20px;
}

#header{
    width: 100%;
    height: 100%;
    background-color: #333333;
}

.btn_style{
    border-radius: 10px; 
    background-color: #333333; 
    color: white; 
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Load animation */
/* The Modal (background) */
.loadingModal {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#myLoader{
    margin-left: 48%;
    border: 8px solid #ffb62f;
    border-top: 8px solid #333333;
    border-bottom: 8px solid #333333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animated_container{
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#member_but,#logout_but,#settings_but,#profile_but,#upload_but{
    display: none;
}

.footer-default{
    background-color: #333333;
    margin-bottom: -30px;
}

.page-header_bottom { border-bottom:none; }

#footer_txt{
    color: #ffb62f;
}

/* STARTING TIV CSS RULES*/

#main,#start,#end,div.text,div.tiles,img.tile,#unloaded,#loadImage,#images{
    margin: 0;
    padding: 0;
}

#loadImage,#images,#uploadImage_but{
    border: none;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#unloaded{
    display: none;
    margin: 50px;
}

#main{margin: auto; height: 300px; width: 908px;}

/******Tile*******/
div.tile{
    border: 1px;
    height: 100%;
    margin: 2px;
    max-height: 140px;
    max-width: 140px;
    padding: 2px;
    width: 100%; 
    display: inline-block;
    position: relative;
}

/********IMG settings*********/
img.tile{
    background-color: transparent;
    background-repeat: no-repeat;   
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    max-height: 140px;
    max-width: 140px;
    width: 100%;
}

div.text{     
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 10px;
    color: #ffb62f;
    font-style: italic;
    font-size: 10px;
    opacity: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: auto;
    height: 30px;
    width: 136px;
    text-align: center;
    padding: 10px 0;
}

.tivImgName,.tivImgRate{
    font-size: 8px;
    bottom: 0;
    position: absolute;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
}

.tivImgName{
    left: 0;
}

.tivImgRate{
    right: 0;
    font-size: 10px;
}

img.tile:hover{
    -moz-box-shadow: 0 0 10px #333333;
    -webkit-box-shadow: 0 0 10px #333333;
    box-shadow: 10 10 10px #333333;
    opacity: 0.7;
}
img.tile:hover + div.text{ opacity: 0.8;}

@media only screen and (max-width: 586px) {
    div.head1{ font-size: 35px; }
}

@media screen and (max-width: 910px) and (min-width: 606.8px){
    #main{width: 606.8px;height: 450px;}
}

@media screen and (max-width: 606px) and (min-width: 473px){
    #main{width: 454.8px;height: 600px;}
}

@media screen and (max-width: 472px) and (min-width: 320px){
    #main{width: 302px;height: 910px;}
}

@media screen and (max-width: 319px) and (min-width: 155px){
    #main{width: 155px;height: 1810px;}
}

/*~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~ */

/* The Modal (background) */
.imgModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.imgModal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#imgCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#imgMETA{
    margin: 2%;
    height: 400px;
    max-height: 400px;
    overflow: auto; /* Enable scroll if needed */
    color: #ccc;
    background-color: transparent;
    font-size: 15px;
}

#imgMap-container{
    margin: 2%;
}

#imgMap{
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* Add Animation */
.imgModal-content, #imgCaption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.imgClose{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.imgClose:hover,
.imgClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .imgModal-content {
        width: 100%;
    }
}

.select_max_number{
    width: 80px;
}

.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel_img{
    cursor: pointer;
}